@import "./base/variables.css";
@import "./components/banner.css";
@import "./components/artist-info.css";
@import "./components/game-container.css";
@import "./utilities/fonts.css";
@import "./utilities/box-shadow.css";
@import "./components/search-container.css";

body {
    background-color: var(--primary-bg-color);
}

.content {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
