:root {
    --artist-image-size: 300px;
}

body {
    background-color: #121212;
}

#banner {
    display: flex;
    height: 18rem;

    align-items: center;
    justify-content: center;
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: 14%;

    color: #191414;
    background-color: #1db954;
}

#artist-info {
    width: 380px;
    height: auto;

    display: flex;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#artist-image {
    width: var(--artist-image-size);
    height: var(--artist-image-size);

    border-radius: 7px;
}

#track-name {
    text-align: center;

    font-family: "Martian Mono", serif;
    font-size: 3.125rem;
    font-weight: 700;
    color: #ffffff;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;

    padding-bottom: 15px;

    width: var(--artist-image-size);
}

#artist-name {
    text-align: center;

    font-family: "Martian Mono", serif;
    font-size: 2rem;
    font-weight: 700;
    color: #b3b3b3;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;

    padding-bottom: 30px;

    width: var(--artist-image-size);
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-container {
    display: grid;
    row-gap: 40px;

    margin-left: -100px;
    margin-bottom: 200px;
}

#input {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #121212;
    padding-left: 30px;

    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

    width: 700px;
    height: 62px;

    border-radius: 12px;
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input::placeholder {
    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 25%;

    color: #b3b3b3;
}

#input:focus {
    border-color: #1db954;
    outline: none;
    caret-color: #1db954;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-guess {
    grid-column-start: 1;
    background-color: #ffffff;

    width: 300px;
    height: 60px;

    border-radius: 8px;
    border-color: #ffffff;
    border-style: solid;

    font-family: "JetBrains Mono", serif;
    font-size: 1.1rem;
    font-optical-sizing: auto;
    letter-spacing: 30%;
    font-weight: 800;
    font-style: normal;
}

#submit-guess:focus {
    background-color: #1db954;
    border-color: #1db954;
    outline: none;
}

#submit-guess:hover {
    background-color: #1db954;
    border-color: #1db954;
}

#suggestions-container {
    grid-column-start: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;

    list-style-type: none;

    color: #ffffff;
    background-color: #121212;

    max-height: 300px;
    /* Adds a scrollbar */
    overflow-y: auto;

    display: none;

    margin-left: -400px;
    margin-top: -20px;

    border-radius: 8px;
}

.suggestion-container {
    display: flex;
    gap: 20px;

    align-items: center;

    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 35px;

    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -25px;

    border-radius: 7px;
}

.suggestion-container:hover {
    background-color: #1db954;
    color: #121212;
}

.suggestion-cover {
    height: 50px;
    width: 50px;

    border-radius: 7px;
}

.suggestion-title {
    font-family: "Martian Mono", serif;
    font-weight: 600;
    color: #ffffff;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
}

.suggestion-artist {
    font-family: "Martian Mono", serif;
    font-size: 0.1rem;
    font-weight: 700;
    color: #b3b3b3;
    font-optical-sizing: auto;
    font-style: italic;
    font-variation-settings: "wdth" 112.5;

    margin-top: -6px;
}

.suggestion-caption-container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-top: -10px;
}

/* Loading animation */
.loading-dots-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

.loading-dots-track span {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.loading-dots-track span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots-track span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%,
    80%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.loading-dots-artist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

.loading-dots-artist span {
    width: 20px;
    height: 20px;
    background-color: #535353;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.loading-dots-artist span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots-artist span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%,
    80%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
