body {
    background-color: #191414;
}

#banner {
    display: flex;
    height: 22rem;

    align-items: center;
    justify-content: center;
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: 14%;

    color: #191414;
    background-color: #1db954;
}
