:root {
    --artist-image-size: 300px;
}

body {
    background-color: #121212;
}

#banner {
    display: flex;
    height: 18rem;

    align-items: center;
    justify-content: center;
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: 14%;

    color: #191414;
    background-color: #1db954;
}

#artist-info {
    width: 380px;
    height: auto;

    display: flex;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#artist-image {
    width: var(--artist-image-size);
    height: var(--artist-image-size);

    border-radius: 7px;
}

#artist-name {
    text-align: center;

    font-family: "Martian Mono", serif;
    font-size: 3.125rem;
    font-weight: 700;
    color: #ffffff;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;

    padding-bottom: 30px;

    width: var(--artist-image-size);
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input {
    background-color: #121212;
    padding-left: 30px;

    width: 700px;
    height: 62px;

    border-radius: 12px;
    border-color: #ffffff;
    border-width: 3px;
}

#input::placeholder {
    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 25%;

    color: #b3b3b3;
}
