.martian-mono {
    font-family: "Martian Mono", serif;
    font-variation-settings: "wdth" 112.5;
    font-optical-sizing: auto;
}

.jetbrains-mono {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
}

.jersey-25 {
    font-family: "Jersey 25", serif;
}

.rem {
    font-family: "REM", serif;
    font-optical-sizing: auto;
}

.semibold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}
