:root {
    /* Color palette */
    --primary-accent-color: #1db954;
    --primary-bg-color: #121212;
    --text-dark: #191414;
    --text-light: #ffffff;
    --text-muted: #b3b3b3;
    --loading-dot-color-artist: #535353;

    /* artist-info.css */
    --artist-image-size: 300px;
    --artist-info-width: 380px;
    --artist-info-width: 380px;
    --loading-dot-size-track: 30px;
    --loading-dot-size-artist: 20px;
    --loading-dot-color-track: var(--text-light);

    /* game-container.css */
    --input-height: 62px;
    --input-width: 700px;
    --submit-width: 300px;
    --submit-height: 60px;
    --suggestion-gap: 20px;
    --suggestion-size: 50px;
}
