#artist-info {
    width: var(--artist-info-width);
    display: flex;
    align-items: center;
    margin: 50px 200px;
}

#artist-image {
    width: var(--artist-image-size);
    height: var(--artist-image-size);
    border-radius: 7px;
}

#track-name,
#artist-name {
    text-align: center;
    width: var(--artist-image-size);
    font-style: normal;
}

#track-name {
    font-size: 3.125rem;
    color: var(--text-light);
    padding-bottom: 15px;
}

#artist-name {
    font-size: 2rem;
    color: var(--text-muted);
    padding-bottom: 30px;
}

#play-track {
    color: var(--text-light);
    background-color: transparent;
    border-color: transparent;
    
    display: block;
    margin: 0 auto;
}

#play-track-icon {
    width: 40px;
    height: 40px;
}

/* Loading animation */
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

.loading-dots span {
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.loading-dots-track span {
    width: var(--loading-dot-size-track);
    height: var(--loading-dot-size-track);
    background-color: var(--loading-dot-color-track);
}

.loading-dots-artist span {
    width: var(--loading-dot-size-artist);
    height: var(--loading-dot-size-artist);
    background-color: var(--loading-dot-color-artist);
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
