#banner {
    display: flex;
    height: 8rem;

    align-items: center;
    justify-content: center;

    
    color: var(--text-dark);
    background-color: var(--primary-accent-color);
}

#banner:hover {
    cursor: pointer;
}

#banner h1 {
    font-style: normal;
    font-size: 4rem;
    letter-spacing: 14%;
    user-select: none;
}
