#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-container {
    display: grid;
    row-gap: 40px;

    margin-left: -100px;
    margin-bottom: 200px;
}

#input {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--primary-bg-color);
    padding-left: 30px;

    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-light);

    width: 700px;
    height: 62px;

    border-radius: 12px;
    border-color: var(--text-light);
    border-width: 3px;
    border-style: solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input::placeholder {
    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 25%;

    color: var(--text-muted);
}

#input:focus {
    border-color: var(--primary-accent-color);
    outline: none;
    caret-color: var(--primary-accent-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-guess {
    grid-column-start: 1;
    background-color: var(--text-light);

    width: 300px;
    height: 60px;

    border-radius: 8px;
    border-color: var(--text-light);
    border-style: solid;

    font-size: 1.1rem;
    letter-spacing: 30%;
    font-weight: 800;
    font-style: normal;
}

#submit-guess:focus {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
    outline: none;
}

#submit-guess:hover {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
}

#suggestions-container {
    grid-column-start: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;

    list-style-type: none;

    color: var(--text-light);
    background-color: var(--primary-bg-color);

    max-height: 300px;
    /* Adds a scrollbar */
    overflow-y: auto;

    display: none;

    margin-left: -400px;
    margin-top: -20px;

    border-radius: 8px;
}

.suggestion-container {
    display: flex;
    gap: 20px;

    align-items: center;

    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 35px;

    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -25px;

    border-radius: 7px;
}

.suggestion-container:hover {
    background-color: var(--primary-accent-color);
}

.suggestion-cover {
    height: 50px;
    width: 50px;

    border-radius: 7px;
}

.suggestion-title {
    color: var(--text-light);
    font-optical-sizing: auto;
    font-style: normal;
}

.suggestion-artist {
    font-size: 0.1rem;
    color: var(--text-muted);
    font-style: italic;

    margin-top: -6px;
}

.suggestion-container:hover .suggestion-title,
.suggestion-container:hover .suggestion-artist {
    color: var(--primary-bg-color); /* Change text color to black on hover */
}

.suggestion-caption-container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-top: -10px;
}
