#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-container {
    display: grid;
    row-gap: 40px;
    margin: 0 0 200px -100px;
}

#input,
#submit-guess {
    grid-column-start: 1;
    border: 3px solid var(--text-light);
    font-style: normal;
    border-radius: 8px;
}

#input {
    grid-column-end: 2;
    background-color: var(--primary-bg-color);
    color: var(--text-light);

    width: var(--input-width);
    height: var(--input-height);

    padding-left: 30px;
}

#input::placeholder {
    letter-spacing: 25%;
    color: var(--text-muted);
}

#input:focus {
    border-color: var(--primary-accent-color);
    caret-color: var(--primary-accent-color);
    outline: none;
}

#submit-guess {
    background-color: var(--text-light);
    width: var(--submit-width);
    height: var(--submit-height);

    font-size: 1.1rem;
    letter-spacing: 30%;
}

#submit-guess:focus,
#submit-guess:hover,
.highlight {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
    outline: none;
}

#suggestions-container {
    display: none; /* Default hidden */
    flex-direction: column;

    grid-column-start: 2;
    list-style: none;

    color: var(--text-light);
    background-color: var(--primary-bg-color);

    max-height: 300px;
    overflow-y: auto;

    margin: -20px 0 0 -400px;
    border-radius: 8px;
}

.suggestion-container {
    display: flex;
    align-items: center;
    gap: var(--suggestion-gap);

    padding: 5px 35px 10px 10px;
    margin: 15px 15px 15px -25px;

    border-radius: 7px;
}

.highlight .suggestion-title,
.highlight .suggestion-artist {
    color: var(--primary-bg-color);
}

.suggestion-cover {
    width: var(--suggestion-size);
    height: var(--suggestion-size);
    border-radius: 7px;
}

.suggestion-title {
    color: var(--text-light);
}

.suggestion-artist {
    font-size: 0.1rem;
    font-style: italic;
    color: var(--text-muted);
    margin-top: -6px;
}

.suggestion-caption-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
}
