#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

#search-text {
    font-size: 5rem;
    color: var(--text-light);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    border: 2px solid;
    border-radius: 8px;

    border-color: var(--text-light);
    background-color: var(--primary-bg-color);
    color: var(--text-light);

    width: var(--input-width);
    height: var(--input-height);

    padding-left: 30px;
    margin-bottom: 70px;
}

#search-input::placeholder {
    border-color: var(--primary-accent-color);
    letter-spacing: 25%;
    color: var(--text-muted);
}

#search-input:focus {
    border-color: var(--primary-accent-color);
    caret-color: var(--primary-accent-color);
    outline: none;
}

#genre-suggestions {
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
}